.git
.gitignore
.gitattributes
node_modules
vendor
.env
.env.example
storage/app/*
storage/framework/cache/*
storage/framework/views/*
storage/logs/*
storage/debugbar/*
public/build
public/hot
tests
*.md
*.log
*.tmp
.editorconfig
.prettierrc
.idea
.vscode
docker-compose.override.yml
