parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Models\\Material\:\:\$custom_fields \(string\|null\) does not accept array\<int\|string, mixed\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Console/Commands/CargarCatalogo.php

		-
			message: '#^Dead catch \- Illuminate\\Contracts\\Encryption\\DecryptException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Http/Controllers/ApiKeyController.php

		-
			message: '#^Access to an undefined property App\\Models\\Lote\:\:\$cantidad\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ChatLLMController.php

		-
			message: '#^Access to an undefined property App\\Models\\Lote\:\:\$n\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ChatLLMController.php

		-
			message: '#^Access to an undefined property App\\Models\\Lote\:\:\$valor\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ChatLLMController.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: app/Http/Controllers/ChatLLMController.php

		-
			message: '#^Using nullsafe property access "\?\-\>key" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/ChatLLMController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/ChatLLMController.php

		-
			message: '#^Using nullsafe property access "\?\-\>nombre" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/ChatLLMController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$batch_number\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/ConsumptionController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$days_until_expiration\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/ConsumptionController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$expiration_date\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/ConsumptionController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/ConsumptionController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$quantity\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Controllers/ConsumptionController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/InventoryController.php

		-
			message: '#^Offset ''codigo_barras'' on string\|null on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 2
			path: app/Http/Controllers/InventoryController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Material\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/InventoryController.php

		-
			message: '#^Property App\\Models\\Material\:\:\$custom_fields \(string\|null\) does not accept array\<int\|string, mixed\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Http/Controllers/InventoryController.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Http/Controllers/MonitorController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/PurchaseOrderController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$material\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/PurchaseOrderController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/PurchaseOrderController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$quantity\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/PurchaseOrderController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$received_qty\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/PurchaseOrderController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$unit_cost\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/PurchaseOrderController.php

		-
			message: '#^Anonymous function should return array\{id\: int, po_number\: string, status\: string, vendor_name\: mixed, created_by_name\: mixed, date_expected\: mixed, total_cost\: float, items_count\: int\<0, max\>, \.\.\.\} but returns array\{id\: int, po_number\: string, status\: string, vendor_name\: mixed, created_by_name\: mixed, date_expected\: mixed, total_cost\: float, items_count\: int\<0, max\>, \.\.\.\}\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/PurchaseOrderController.php

		-
			message: '#^Cannot call method format\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/PurchaseOrderController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\PurchaseOrder\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/PurchaseOrderController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/PurchaseOrderController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$grupo\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/QRScanController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$batch_number\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/TransferController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Transferencia\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/TransferController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:activos\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Material.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$quantity\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/PurchaseOrder.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$unit_cost\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/PurchaseOrder.php

		-
			message: '#^Using nullsafe property access "\?\-\>timestamp" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/ConciliacionConteo.php

		-
			message: '#^Access to an undefined property App\\Models\\Movimiento\:\:\$n\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/ProyeccionInventario.php

		-
			message: '#^Access to an undefined property App\\Models\\Movimiento\:\:\$total\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/ProyeccionInventario.php

		-
			message: '#^Parameter \#1 \$query of static method Illuminate\\Database\\Connection\:\:unprepared\(\) expects literal\-string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Support/KardexInmutable.php
